
body{
    font-family: 'Poppins' , 'sans-serif';
    background-image: url("../hello.png");
    background-attachment: fixed;
<<<<<<< HEAD
=======

>>>>>>> cd747bee95ebe8322f62cc579432bf3b06eaaaa7
    
}
.footer-text{
    text-align-last:center ;
}
.footer-box{
    transition: height 2s;
}
.footer-box:hover{
    height:40vh;
}
.login:hover{
        box-shadow: 8px 10px 15px #5c5c8aff;
        transition-duration:1s ;
}
.signup:hover{
    box-shadow: 8px 10px 15px #9da4b0ff;
    transition-duration:1s ;
}