
body {
    background-image: url("../images/hello.png");
}
body{
    font-family: 'Poppins' , 'sans-serif';
    background-image: url("../hello.png");
}
.footer-text{
    text-align-last:center ;
}
.footer-box{
    transition: height 2s;
}
.footer-box:hover{
    height:40vh;
}
.login:hover{
        box-shadow: 8px 10px 15px #5c5c8aff;
        transition-duration:1s ;
}
.signup:hover{
    box-shadow: 8px 10px 15px #9da4b0ff;
    transition-duration:1s ;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
}

